#page-teacher-list {
  width: 100vw;
  height: 100vh;
}

main {
  margin: 3.2rem auto;
  width: 90%;
}

@media (min-width: 700px) {
  #page-teacher-list {
    max-width: 100%;
  }

  main {
    padding: 3.2rem 0px;
    max-width: 740px;
    margin: 0 auto;
  }
}
